/*------------------------------------------------*/
/*-----------------[HEADER]-----------------------*/
/*------------------------------------------------*/
.Header { 
	width: 100%;
	position: relative;
	white-space: nowrap;
	clear: both;
	display: block;
	height: $header-height;
	background: $header-bg;
	/*background: none;*/
	margin: 0 auto;
	z-index: 99;
	position: relative; // Cambiar de relative a fixed si se quiere integrar el heade ral contenido
	left: 0;
	right: 0;
	@include transicion();
	
	@media (max-width: $desktop-width) {
		height: auto;
		background: none;

		&--tiny { position: relative; }
	}

	@media (max-width: $tablet-width) {
		position: relative;	
		height: auto;	
	}

	&--tiny {
		height: 60px;
		background: $header-bg;

		@media (max-width: $tablet-width) {
			height: auto;
		}
	}
	
	.Header-contenido {
		display: block;
		height: 100%;
		/*width: $desktop-width;*/
		position: relative;
		margin: 0 auto;

		@media (max-width: $desktop-width) {
			max-width: $desktop-width;
			width: 100%;
			height: auto;
			display: inline-block;
		}

		.Header-contenidoBloque1 {
			/*background: #DADADA;*/
			background-image: url('images/header-bg.png');
			background-position: center;
			background-repeat: repeat-x;
			/*background-size: auto auto;*/
			height: 107px;
			margin-bottom: 4px;

			/* Logo */
			.Header-logo {
				padding: .9rem 0rem;
				display: block;
				float: left;
				max-width: 320px;

				@media (max-width: $tablet-width) {
					max-width: 100%;
					width: 100%;
					text-align: center;
					padding: 1rem 0;
				}
				img {
					max-width: 320px;
					@include transicion();

					@media (max-width: $tablet-width) {
						width: 75%;
					}
					&.tiny {
						max-width: 144px;

						@media (max-width: $tablet-width) {
							height: auto;
							max-width: 320px;
						}
					}
				}
			}

			.Header-frase {
				font-weight: bold;
				font-size: 1.15rem;
				color: #454545;
				padding-top: 4rem;
				padding-left: 5rem;
				display: inline-block;

				strong {
					color: #1972B9;
				}
			}

			.Header-telefono {
				font-weight: bold;
				font-size: 1.95rem;
				color: white;
				float: right;
				padding: 1rem 2rem 1rem 0rem;

				i {
					display: inline-block;
					width: 44px;
					height: 62px;
					background-image: url('images/fon.png');
				}
				
				.Header-telefonoDatos {
					display: inline-block;
				}
			}

			.rombo-azul {
				display: block;
				width: 196px;
				height: 92px;
				position: absolute;
				background-repeat: no-repeat;
				background-image: url('images/rombo-01.png');
				right: -45px;
				bottom: 62px;
			}
		}

		/* Botones Sociales */
		.social {
			float: right;
			padding: .5rem 1em;	

			@media (max-width: $tablet-width) {
				width: 100%;
				clear: both;
				text-align: center;
			}
		}
		/* Search Form */
		#searchform {
			float: right;
			padding: .5rem 1em;
			@include transicion();

			@media (max-width: $tablet-width) {
				display: none;
			}
			
			div { margin: 0; }
			label { display: none; }
		}
		
		 #s {
			float: right;
			@include transicion();
			width: 90px;
		}
		#s:focus {
			background-color: #f9f9f9;
			width: 196px;
		}
		#searchsubmit {
			display: none;
		}
		.only-search #searchform {
			top: 5px;
			z-index: 1;
		}
		.only-search #s {
			background-color: #666;
			border-color: #000;
			color: #222;
		}
		.only-search #s,
		.only-search #s:focus {
			width: 85%;
		}
		.only-search #s:focus {
			background-color: #bbb;
		}
		.with-image #searchform {
			top: auto;
			bottom: -27px;
			max-width: 195px;
		}
		.only-search + #access div {
			padding-right: 205px;
		}
		
	}
}
