/*------------------------------------------------*/
/*------------------[BLOCKS]----------------------*/
/*------------------------------------------------*/
// PRIMAL
.PrimalBlocks {
	/*padding-top: 6rem;*/
	background: #202020;
	
	.PrimalBlocks-contenido {
		// Responsive
		@media (max-width: $desktop-width) {
			padding: 1.5rem;
		}

		.PrimalBlocks-titulo {
			text-align: center;
			background: #DADADA;
			color: #1972B9;
			font-weight: bold;
			font-size: 1.9rem;
			margin-bottom: 2rem;
			padding: 1.2rem 0;
			margin-bottom: 0;
		}

		.PrimalBlocks-subtitulo {
			margin: 0 0 3rem;
		}

		.PrimalBlocks-blocks {
			overflow: hidden;

			.PrimalBlocks-blocksBlock {
				float: left;
				width: 25%;
				border-left: 3px solid #DADADA;
				border-right: 3px solid #DADADA;
				margin: .8rem 0;
				padding: 0 .5rem; 

				&:first-child {
					border-left: none;
				}

				&:last-child {
					border-right: none;
				}
				
				h2 {
					color: #1972B9;
					font-weight: bold;
					font-size: 1.9rem;
					margin: .5rem 0;
				}

				div {

				}
			}
		}
	}
}

// SAUTE
.SauteBlocks {
	padding-top: 6rem;
	display: inline-block;
	width: 100%;
	
	.SauteBlocks-contenido {
		
		.SauteBlocks-titulos {

			// Responsive
			@media (max-width: $desktop-width) {
				padding: 1.5rem;
			}
		}
		.SauteBlocks-titulo {
			color: $main-color-dark;
		}
		.SauteBlocks-subtitulo {
			margin: 0 0 3rem;
		}
		.SauteBlocks-block {
			display: block;
			width: 100%;
			clear: both;			
			
			.SauteBlocks-blockFigure {
				background-position: center top;
				background-size: 100% auto;
				background-repeat: no-repeat;
				display: block;
				float: left;
				width: 50%;
				margin: 0;	
				text-align: center;
				height: 320px;
				overflow: hidden;		

				// Responsive
				@media (max-width: $desktop-width) {
					background-size: 100% 100%;
				}
				@media (max-width: $tablet-width) {
					width: 100%;
				}

				img {
					width: 40%;
				}

			}
			.SauteBlocks-blockWrapper {
				background: $divider-color;
				display: block;
				float: left;
				width: 50%;
				margin: 0;	

				// Responsive
				@media (max-width: $tablet-width) {
					width: 100%;
				}	

				.SauteBlocks-blockContent {
					padding: 1.5rem 3rem;
					width: $desktop-width / 2;
					height: 320px;
					overflow: hidden;

					// Responsive
					@media (max-width: $tablet-width) {
						width: 100%;
						height: auto;
						padding-bottom: 3rem;
						text-align: center;
						float: none;
					}	


					.SauteBlocks-blockTitulo {
						// ...
					}
					.SauteBlocks-blockSubtitulo {
						// ...
					}
					.SauteBlocks-blockDescripcion {
						// ...
					}
					.SauteBlocks-blockAction {
						// ...
					}
				}
			}

			/* La salteada -------------------------- */
			// El estilo de la imagen inpar
			&:nth-child(odd) .SauteBlocks-blockFigure {
				float: right;
			}
			// El estilo del contenido inpar
			&:nth-child(odd) .SauteBlocks-blockContent {
				float: right;
				text-align: right;

				@media (max-width: $tablet-width) {
					text-align: center;
					float: none;
				}
			}
			// El color de fondo para el contenido inpar
			&:nth-child(odd) .SauteBlocks-blockWrapper {
				background: none;
			}

			
		}
	}
}