.contacto {
	/*padding: 3rem 2rem 0;*/
	overflow: hidden;
	background: #202020;
	padding-bottom: 2rem;

	@media (max-width: $smaller-width) {
		padding: 0;
	}

	.contenido-contactoTitulo {
		background: #1972B9;
		color: white;
		text-align: center;
		font-weight: bold;
		font-size: 1.9rem;
		padding: 1.2rem 0;
		margin-bottom: 0;
	}

	.contenido-contacto {
		color: white;

		@media (max-width: $desktop-width) {
			padding: 0 1rem;
		}

		.datos {
			float: left;
			width: 25%;
			/*padding-right: 1rem;*/
			@media (max-width: $tablet-width) {
				float: none;
				width: 100%;
				padding: 1rem;
				text-align: center;
			}

			h2 {
				color: #DADADA;
				font-weight: bold;
				font-size: 1.9rem;
				padding-top: 2rem;
				margin-bottom: .5rem;
			}
			
			h3 {
				font-weight: bold;
				font-size: 1.25rem;
				margin-top: 0;
				border-bottom: 6px solid black;
				padding-bottom: 1rem;
			}

			p {
				font-weight: 600;
				font-size: 1.125rem;
				margin-bottom: 0;
			}
		}

		.formulario {
			float: left;
			width: 75%;
			padding-right: 1rem;
			/*padding-left: 1rem;*/
			@media (max-width: $tablet-width) {
				width: 100%;
				padding: 1rem;
			}

			h2 {
				font-size: 1.5rem;
				font-weight: bold;
			}

			p {
				margin-bottom: .3rem;

				input,textarea {
					background: #DADADA;
					border: none;
					box-shadow: none;
					border-radius: 8px;
					color: #A5A5A5;
				}

				.wpcf7-submit {
					background: #1972B9;
					color: white;
				}
			}
		}
	}
}
