.FilmstripSlider {
	overflow: visible !important;

	.FilmstripSlider-titulo {
		color: #1972B9;
		text-align: center;
		font-weight: bold;
		font-size: 1.9rem;
		margin-bottom: 2rem;
	}
	
	.FilmstripSlider-contenido { 
		border: none; 
		margin: 0;

		.flex-control-nav {
			display: none;
			position: relative;
			margin-top: 2rem;
			bottom: 0;
			
			@media (max-width: $desktop-width) {
				display: block;
			}
		} 

		.flex-direction-nav {

			@media (max-width: $desktop-width) {
				display: none;
			}
			
			a {
				font-size: 0;
				display: block;
				height: 96px;
				top: 100px;
				width: 50px;

				&::before {
					display: none;
				}
			}

			.flex-prev {
				/*left: 0 !important;*/
				background-image: url('images/izq.png');
				background-repeat: no-repeat;
				left: -5rem;
				@media (max-width: 1200px) {
					left: 0;
				}
			}

			.flex-next {
				/*right: 0 !important;*/
				background-image: url('images/der.png');
				background-repeat: no-repeat;
				right: -5rem;
				@media (max-width: 1200px) {
					right: 0;
				}
			}
		}

		.FilmstripSlider-slide {
			text-align: center;
			margin: 0 20px;
			border-radius: 10px;
			overflow: hidden;

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}

			@media (max-width: $tablet-width) {
				
			}

			.FilmstripSlider-slideImagen {
				background: #EBEBEB;
				width: 100%;
				display: block;
				text-align: center;
				height: 190px;
			}

			.FilmstripSlider-slideTitulo {
				color: #333;
				font-size: 1rem;
				font-weight: bold;
				background: #1972B9;
				color: white;
				margin: 0;
				padding: 1rem .5rem;
				height: 64px;
			}

			.FilmstripSlider-slideSubtitulo {
				color: #444;
				font-size: 1rem;
				font-weight: normal;
			}
		}
	}
}
